$rayon-aqua: #18b4f1;
$rayon-aqua-2: #2fabe1;
$rayon-blue: #0079c1;
$rayon-text: #333333;
$rayon-border: #e4e4e4;
$mob-text: #232323;
$menu-bg: #FFF;
$menu-text: #232323;
$menu_servise-bg: #C70923;
$menu_servise-text: #FFF;
$menu-border: #B2B2B2;
$social-1: #b0cc49;
$social-2: #f05b72;
$social-3: #00aef0;
$social-4: #f58220;
