
/* === News/Specials page === */
.news {
  .section-ask {
    background: transparent url("../img/news-bg.jpg") center no-repeat; }
  .input-outer {
    width: 25.71429%;
    float: left;
    margin-top: 2.85714%;
    margin-right: 2.85714%;
    input {
      box-sizing: border-box;
      width: 100%;
      padding: .5em .75em;
      border: 1px solid #989898;
      outline: none;
      background-color: rgba(255, 255, 255, 0);
      transition: background-color .3s;
      &::-webkit-input-placeholder {
        font-family: "LatoWeb";
        color: #000; }
      &:-moz-placeholder {
        /* Firefox 18- */
        font-family: "LatoWeb";
        color: #000; }
      &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "LatoWeb";
        color: #000; }
      &:-ms-input-placeholder {
        font-family: "LatoWeb";
        color: #000; }
      &:focus {
        background-color: white; }
      &.error {
        border: 1px solid #c70923; }
    }
    
    
    
  }
  .btn {
    position: relative;
    margin-top: 2.85714%;
    //height: 68px;
   // padding-top: 0;
   // padding-bottom: 0;
    border: 1px solid #c70923;
    padding: .3em .8em;
    @media all and (max-width: 768px){
     // height: 40px;
    }
  &:hover {
    color: #c70923; }
  span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block; }
  }
  button.btn {
    vertical-align: top;
    span {
      -webkit-transform: translateY(0%) !important;
      -moz-transform: translateY(0%) !important;
      transform: translateY(0%) !important; }
  }
  .section-tabs {
    width: 93%;
    margin: 0 auto;
    .row {
      width: 100%;
      margin-left: 0.6%; }
    .col {
      border-bottom: none;
      width: 99%;
      margin-bottom: 2rem;
      a {
        color: #000; }
    }
    .content {
      padding:5.61818% 0;
      border-right: none;
      border-left: none; }
    .text {
      height: calc(2em * 1.6625);
      p {
        margin-top: .5rem;
        &:after {
          width: 80px;
          top: calc(1em * 2.1625);
        }
      }
    }
    .tab-titles li h2 {
      padding: 0 0.675rem;
      padding-bottom: .0375rem;
    }
  }
}
.pagination {
  position: relative;
  display: inline-block;
  padding-right: 50px;
  padding-top: 6px;
  ul {
    display: inline-block;
    list-style: none;
    
  &:after {
    content: '';
    display: table;
    clear: both; }
  }
  li {
    float: left;
    margin-right: 2rem;
    a {
      color: #000;
      &.active, &:hover {
        color: #c70923; }
    }
  }
  .link-more {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto; }
}

/* === News/Specials single page === */
.news-single {
  padding-top: 2rem;
  padding-bottom: .9rem;
  width: 93%;
  margin: 1.5rem auto;
  .date {
    padding-top: 1.5rem;
    font-family: "LatoWebLight"; }
  .img-outer {
    margin: 2rem 0 2.5rem; }
  .table {
    padding-top: 2rem;
    table {
      width: 100%;
      font-family: "LatoWebLight";
      text-align: center;
      tr:first-child {
        font-family: "LatoWeb";
        background-color: #eee; }
      td, & th {
        width: 33.33333333%;
        padding: .5rem;
        vertical-align: middle;
        border: 1px solid #c2c0c0; }
    }
  }
  .wrap {
    width: 100%;
    max-width: 93%;
    margin: 0 auto;
  }
  .text p {
    margin-top: 2.25rem;
  }
}


